@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
   --primary-font:"Poppins", sans-serif;
   --secondary-color: #FFDFD6;
   --primary-color: #ffffff;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {

    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 1rem;
    align-items: center;
    
    
}
.navbar{
    color: var(--primary-color);
}
